<!--
 * @Date: 2020-06-03 11:35:48
 * @LastEditors: lianggua
 * @LastEditTime: 2020-06-18 18:02:28
--> 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes" />
    <meta content=yes name=apple-mobile-web-app-capable />
    <meta content=yes name=apple-touch-fullscreen />
    <meta content="telephone=no,email=no" name=format-detection />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title></title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- <link href="/iconfont/iconfont.css" rel="stylesheet" /> -->
    <link href="//at.alicdn.com/t/font_1860710_e5uviyykt1n.css" rel="stylesheet" />
    <script src="/tv/charting_library/charting_library.min.js"></script>
    <script src="/tv/datafeeds/udf/dist/polyfills.js"></script>
    <script src="/tv/datafeeds/udf/dist/bundle.js"></script>
</head>

<body>
    <div id="root"></div>
</body>

</html>