.userWp{
  color: #fff;
  .header{
    background: #212425;
    margin-bottom: 15px;
    padding: 40px 25px;
    .appName{
      font-size: 38px;
      padding-bottom: 30px;
      font-weight: normal;
      margin-bottom: 0;
    }
    dl{
      display: flex;
      dt{
        width: 120px;
        img{
          width: 120px;
          height: 120px;
        }
      }
      dd{
        flex-grow: 1;
        padding-left: 30px;
        padding-top: 10px;
        line-height: 50px;
        font-size: 24px;
        p{
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}