.tradeWp{
    padding-top: 100px;
    dl.profit{
      display: flex;
      text-align: center;
      dd{
        flex:1;
        h4{
          font-size: 24px;
          color: #a2a2a3;
          font-weight: normal;
        }
        p{
          font-size: 32px;
          color: #5c84b2;
        }
      }
    }
    ul.toolList{
      display: flex;
      flex-direction: column;
      li{
        flex: 1;
        margin-top: 40px;
        .item{
          width: 580px;
          padding: 40px;
          background: #262b2e;
          margin: 0 auto;
          border-radius: 10px;
          :global(.iconfont) {
            font-size: 50px;
          }
          p{
            padding-top: 20px;
            font-size: 30px;
            color: #bbc2d3;
            margin: 0;
          }
        }
      }
    }
  }
  
.info{
    :global(.iconfont) {
        font-size: 28px;
    }
}
.tipWp{
    max-height: 80vw;
    overflow-y: scroll;
    text-align: left;
    font-size: 24px;
    padding: 0 10px;
}
.list{
    padding: 25px;
}