/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif,
    'Droid Sans Fallback';
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* iphonex 兼容方案
https://aotu.io/notes/2017/11/27/iphonex/index.html */

html,
body,
#root {
  height: 100%;
}

/* iphonex 安全区域 */
body {
  margin: 0;
  overflow-x: hidden;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  font-size: 24px !important;
  background: #1a1b1d !important;
  color: #fff !important;
}
/* iphonex fix底部元素适配 */
:global(.fixed_bottom) {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  position: fixed;
  z-index: 10;
  background-color: #fff;
  /* 具体应用位置，通过叠加css确定元素本身样式
  width: 100%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #fff;
  height: 50px; */
}

:global(.clearfix:after) {
  content: '';
  display: table;
  clear: both;
}

/* 样式覆盖，解决移动端滚动问题，避免容器模拟滚动，都采用body滚动，以及自己封装的滚动容器 */
.am-tab-bar {
  position: relative;
  overflow: visible !important;
}
.am-tabs {
  width: 100%;
  overflow: visible !important;
}
.am-tabs-pane-wrap {
  overflow-y: visible !important;
}
.am-tab-bar-item {
  height: auto !important;
  padding-bottom: 50px;
}

.am-tabs-tab-bar-wrap {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
}

.am-tab-bar-bar .am-tab-bar-tab-icon .iconfont{
  font-size: 32px;
}

.am-tab-bar-bar .am-tab-bar-tab-title {
  margin-top: 0 !important;
}
.am-tab-bar-bar{
  height: 100px !important;
}

.wp{
  padding: 0 25px;
}

/*重写tab样式*/
.tabTop{
  padding-top: 80px;
  position: relative;
}
.tabTop-tab-bar-wrap{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 100%;
  box-shadow: 0 1px 5px #000
}
.tabTop .am-tabs-default-bar-tab{
  height: 80px;
}
.am-tabs-default-bar-tab-active{
  font-weight: bold;
}
.tabTop .am-tabs-default-bar-top .am-tabs-default-bar-nextpage, .am-tabs-default-bar-bottom .am-tabs-default-bar-nextpage{
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #1f1f1f);
}
.tabTop .am-tabs-default-bar-top .am-tabs-default-bar-prevpage, .am-tabs-default-bar-bottom .am-tabs-default-bar-prevpage{
  background: linear-gradient(to right, #1f1f1f, rgba(0, 0, 0, 0));
}
.tabTop .am-tabs-default-bar-top .am-tabs-default-bar-tab::after{
  display: none !important;
}


.tabTop {
  box-sizing: border-box;
  display: flex;
  flex: 1 1;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.tabTop * {
  box-sizing: border-box;
}
.tabTop-content-wrap {
  display: flex;
  flex: 1 1;
  width: 100%;
  height: 100%;
  min-height: 0;
}
.tabTop-content-wrap-animated {
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1), left 0.3s cubic-bezier(0.35, 0, 0.25, 1), top 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  will-change: transform, left, top;
}
.tabTop-pane-wrap {
  width: 100%;
  flex-shrink: 0;
  overflow-y: auto;
}
.tabTop-tab-bar-wrap {
  flex-shrink: 0;
}
.tabTop-horizontal .tabTop-pane-wrap-active {
  height: auto;
}
.tabTop-horizontal .tabTop-pane-wrap-inactive {
  height: 0;
  overflow: visible;
}
.tabTop-vertical .tabTop-content-wrap {
  flex-direction: column;
}
.tabTop-vertical .tabTop-tab-bar-wrap {
  height: 100%;
}
.tabTop-vertical .tabTop-pane-wrap {
  height: 100%;
}
.tabTop-vertical .tabTop-pane-wrap-active {
  overflow: auto;
}
.tabTop-vertical .tabTop-pane-wrap-inactive {
  overflow: hidden;
}
.tabTop-top,
.tabTop-bottom {
  flex-direction: column;
}
.tabTop-left,
.tabTop-right {
  flex-direction: row;
}
.tabTop-default-bar {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: 1;
}
.tabTop-default-bar-tab {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  height: 43.5px;
  line-height: 43.5px;
}
.tabTop-default-bar-tab .am-badge .am-badge-text {
  top: -13px;
  transform: translateX(-5px);
}
.tabTop-default-bar-tab .am-badge .am-badge-dot {
  top: -6px;
  transform: translateX(0);
}
.tabTop-default-bar-tab-active {
  color: #108ee9;
}
.tabTop-default-bar-underline {
  position: absolute;
  border: 1px #108ee9 solid;
  transform: translate3d(0, 0, 0);
}
.tabTop-default-bar-animated .tabTop-default-bar-content {
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  will-change: transform;
}
.tabTop-default-bar-animated .tabTop-default-bar-underline {
  transition: top 0.3s cubic-bezier(0.35, 0, 0.25, 1), left 0.3s cubic-bezier(0.35, 0, 0.25, 1), color 0.3s cubic-bezier(0.35, 0, 0.25, 1), width 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  will-change: top, left, width, color;
}
.tabTop-default-bar-top,
.tabTop-default-bar-bottom {
  flex-direction: row;
}
.tabTop-default-bar-top .tabTop-default-bar-content,
.tabTop-default-bar-bottom .tabTop-default-bar-content {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.tabTop-default-bar-top .tabTop-default-bar-prevpage,
.tabTop-default-bar-bottom .tabTop-default-bar-prevpage {
  pointer-events: none;
  position: absolute;
  top: 0;
  display: block;
  width: 59px;
  height: 100%;
  content: ' ';
  z-index: 999;
  left: 0;
  background: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0));
}
.tabTop-default-bar-top .tabTop-default-bar-nextpage,
.tabTop-default-bar-bottom .tabTop-default-bar-nextpage {
  pointer-events: none;
  position: absolute;
  top: 0;
  display: block;
  width: 59px;
  height: 100%;
  content: ' ';
  z-index: 999;
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
}
.tabTop-default-bar-top .tabTop-default-bar-tab,
.tabTop-default-bar-bottom .tabTop-default-bar-tab {
  padding: 8px 0;
}
.tabTop-default-bar-top .tabTop-default-bar-underline,
.tabTop-default-bar-bottom .tabTop-default-bar-underline {
  bottom: 0;
}
.tabTop-default-bar-top .tabTop-default-bar-tab {
  border-bottom: 1PX solid #ddd;
}

.up {
  color: #3a9555;
}
.down {
  color: #bf504f;
}

.text-blue {
  color: #4e8fad;
  padding-left: 1.333vw;
  position: relative;
}
.text-blue .icon {
  color: #4e8fad;
  position: absolute;
}

::-webkit-scrollbar{
  width: 4px;
  height: 4px;
  scrollbar-arrow-color:#111c27;
}
::-webkit-scrollbar-track {
    background:#111c27;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #57687d;
}


.ant-table-placeholder{
  background: #fff !important;
}
.ant-empty-normal{
  color: #5e5e5e !important;
}